@charset "UTF-8";

:root{
	--white: #fff;
	--black: #2f2f2f;
}

@media (prefers-color-scheme: light){
	html{
	background-color: var(--white);
	color: var(--black);
	}

	a{
		color: darkslateblue;
	}

	::selection{
		background-color: rgba(0, 0, 0, .2);
	}
}
@media (prefers-color-scheme: dark){
	html{
	background-color: var(--black);
	color: var(--white);
	}

	a{
		color: aquamarine;
	}

	::selection{
		background-color: rgba(255, 255, 255, .2);
	}
}

*{
	font-family: "游ゴシック", "Noto Sans", "Meiryo", "Arial", sans;
	font-weight: 500;
}

html{
	margin: 0 10% 46px 10%;
}

h1 a{
	text-decoration: none;
}

/* color when we touch URL in smartphone */
a:active{-webkit-tap-highlight-color: rgba(255, 255, 255, .2);}
