@charset "UTF-8";

:root{
    --white: #fff;
    --black: #2f2f2f;
}

/* # # フォント # # */
html{
    font-family: "游ゴシック", "Noto Sans", "Meiryo", "Arial", sans-serif;
    font-weight: 500;
}

/* # ライトモード # */
@media (prefers-color-scheme: light){
    html{
      background-color: var(--white);
      color: var(--black);
    }
}
/* # ダークモード # */
@media (prefers-color-scheme: dark){
    html{
      background-color: var(--black);
      color: var(--white);
    }
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- */

/* # # ヘッダー・フッター・追従メニュー設定 # # */
*{box-sizing: border-box;}

header, main, .content, aside, footer{
    padding: 10px;
    width: 100%;
    height: 100%;
}

main{
    display: flex;
    position: relative;
    justify-content: space-between;
}

.content{width: 84%;}

aside{
    position: sticky;
    top: 10px;
    width: 16%;
    height: 100%;
    font-size: 1.0rem;
}

/* # # 携帯(縦)でのアクセス用(追従メニューの割合) # # */
@media screen and (max-width: 1080px){
    .content{
        width: 100%;
        padding: 0px;
    }
    aside{
        width: 0%;
        padding: 0px;
    }
    aside p{font-size: 0;}
    main{padding: 15px;}
}

/* # ライトモード # */
@media (prefers-color-scheme: light){footer{background-color: whitesmoke;}}
/* # ダークモード # */
@media (prefers-color-scheme: dark){footer{background-color: rgba(255, 255, 255, .05);}}

/* # # フッター下固定 # # */
.conteiner{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer{margin-top: auto;}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- */

/* # # 文字表記に関して # # */
h2{
    -webkit-box-shadow: 5px 5px 0 var(--white);
    box-shadow: 0px 5px 0 var(--white);
}
/* # ライトモード # */
@media (prefers-color-scheme: light){a{color: green;}}
/* # ダークモード # */
@media (prefers-color-scheme: dark){a{color: #d0adf0;}}
/*マウスカーソルが乗っているときの色変更*/
/* # ライトモード # */
@media (prefers-color-scheme: light){a:hover, a:focus{color: #006300;}}
/* # ダークモード # */
@media (prefers-color-scheme: dark){a:hover, a:focus{color: #9e9eff;}}

/*左追従バーの動きについて*/
aside p a{
    padding: 0.8em 0;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
aside p:hover, aside p:focus{
    transform: translate(0, -3px);
    box-shadow:0px 1px 8px 4px whitesmoke;
    opacity: 0.7;
}
/* # ダークモード # */
@media (prefers-color-scheme: dark){
    aside p{
        opacity: 0.8;
        color: var(--black);
    }
    aside p:hover, aside p:focus{opacity: 1.0;}
    aside p a{opacity: 1.0;}
}

/* # ライトモード # */
@media (prefers-color-scheme: light){
    aside p a {color: #006300;}
    aside p a:hover, aside p a:focus{color: #003000;}
}
/* # ダークモード # */
@media (prefers-color-scheme: dark){
    aside p a {color: var(--black);}
    aside p a:hover, aside p a:focus{color: var(--black);}
}

/* # ダークモード # */
@media (prefers-color-scheme: dark){
    h1{
        padding: 1rem 2rem;
        background: unset;
        color:var(--white);
    }

    h2{background: unset;}
}

/* # 携帯のタップした一瞬の時の色を透明に変更 # */
a:active{-webkit-tap-highlight-color: rgba(255, 255, 255, .2);}

/* # # 範囲選択の時の文字の色 # # */
/* # ライトモード # */
@media (prefers-color-scheme: light){
    ::selection{background: rgba(180 255 255 /.5);}
    a::selection{background: rgba(150 250 200 /.5);}
}
/* # ダークモード # */
@media (prefers-color-scheme: dark){::selection{background: rgba(255, 255, 255, .5);}}

/* # # 背景 # # */
/* # ライトモード # */
@media (prefers-color-scheme: light){html{background-image: url(/LEC-MainSite/lec/lf/logo/lf2301.png);}}
/* # ダークモード # */
@media (prefers-color-scheme: dark){html{background-image: url(/LEC-MainSite/lec/lf/logo/lf2202.png);}}
/* # 共通 # */
html
{
    max-width: 100%;
    min-height: 100vh;
    /*background-color: rgb(5, 2, 22);*/
    background-attachment: fixed;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/*背景ぼかし*/
html::before
{
    background: inherit;
    content: '';
    filter: blur(6px);
    position: absolute;
    top: -5px;
    right: 0;
    bottom: 0px;
    left: -5px;
}

/* # マージン削除 # */
body{margin: 0;}
aside{margin: 1vh 0 1vh 8px}
.content{margin: 1vh 8px 1vh 0}
/* # 携帯版の動作 # */
@media screen and (max-width:1080px)
{
    aside{margin: 1vh 8px 0 8px}
    .content{margin: 0 8px 1vh 8px}
}


/* # 全体共通 # */
a{color: unset;}
a{text-decoration: none;}
a:hover, a:focus{color: rgb(15, 15, 12)}
main, .content, aside{padding: 0;}

/* # # サイドバー設定 # # */
/* # ライトモード # */
@media (prefers-color-scheme: light){aside{background-color: rgba(10, 10, 10, .45);}}
/* # ダークモード # */
@media (prefers-color-scheme: dark){aside{background-color: rgba(10, 10, 10, .60);}}
/* # 共通 # */
aside
{
    width: 30%;
    /*100vhから上下marginの1vh x2分減らした数値*/
    min-height: 98vh;
    height: auto;
    position: unset;
}
aside h3
{
    color: white;
    width: 80%;
}
aside p
{
    font-size: 1.0rem;
    color: white;
    width: 70%;
}
/*サイドバーh3を光らせる*/
aside h3:hover, aside h3:focus{box-shadow:0px 1px 8px 4px whitesmoke;}
/*サイドバーPを動かさない*/
aside p:hover, aside p:focus{transform: unset;}
aside p:hover, aside p:focus, aside h3 a:hover, aside h3 a:focus
{
    color: white;
    opacity: 1.0;
}

/* # # メイン部分 # # */
/* # ライトモード # */
@media (prefers-color-scheme: light){.content{background-color: rgba(255, 255, 255, 0.6);}}
/* # ダークモード # */
@media (prefers-color-scheme: dark){.content{background-color: rgba(220, 220, 220, 0.9);}}
/* # 共通 # */
.content
{
    width: 70%;
    /*100vhから上下marginの1vh x2分減らした数値*/
    min-height: 98vh;
    color: rgb(49, 47, 41);
}
table{width: 80%;}
.conteiner
{
    min-height: 100vh;
}

/* # テーブル内の文字サイズ # */
table tr th p{font-size: 1.4rem;}
table tr td p{font-size: 1.2rem;}
/* # # 携帯版 # # */
@media screen and (max-width:1080px)
{
    table tr th p{font-size: 2.8rem;}
    table tr td p{font-size: 2.4rem;}
}

/* # 選択時の色を白に変更 # */
::selection{background: rgba(255, 255, 255, .70);}
a::selection{background: rgba(255, 255, 255, .70);}

/* # # 携帯版の動作(サイドバーを上に移動する) # # */
@media screen and (max-width:1080px)
{
    main
    {
        display: block;
        margin: 0;
        padding: 0;
        max-width: 100%;
        min-width: initial;
    }
    aside
    {
        width: calc(100% - 16px);
        min-height: auto;
        position: unset;
    }
    .content{width: calc(100% - 16px);}
    /* # 携帯版の時はLECの説明文を削除(非表示) # */
    aside p{font-size: 0;}
    /* # 携帯版の時は背景の画像を中央に表示 # */
    html{background-position: center center;}

    /* # # 以下はごり押し(そもそも余白を作るためにhtmlのほうでbr改行x2しているのがあんまりよくない) # # */
    /* (paddingかmargin使って空白は作るべきだったけど、ここはごり押せるので押す(後のメンテを考えない作り)) */
    /* # 上部分に微妙な隙間が生まれるのでbrを無効化 # */
    aside br{display: none;}
    /* # 逆に上部分の空白がなくなりすぎるので追加 # */
    aside h3
    {
        margin: 0;
        padding: 1em;
    }
}
