* {
    box-sizing: border-box;
  }
  
  header, main, .content, aside, footer
  {
    padding: 10px;
  }
  
  header
  {
    background-color: #deffdd;
/*    height: 200px;*/
  }
  
  main
  {
    background-color: #ffffff;
    display: flex;
    position: relative;
    justify-content: space-between;
  }
  
  .content
  {
    background-color: #fffcd9;
    height: 2000px;
    /*文章を増やしたら↑もコメントアウトか削除したほうがいい。
    スクロールできないほど文章が少ない場合はまたその時調整を行う*/
    width: 85%;
  }
  
  aside
  {
    position: sticky;
    background-color: #ffe1e1;
    height: 400px;
    /*文章を増やしたら↑もコメントアウトか削除したほうがいい。
    スクロールできないほど文章が少ない場合はまたその時調整を行う*/
    top: 0;
    width: 14%;
  }
  
  footer
  {
    background-color: #deffdd;
/*    height: 200px;*/
  }