* {
    box-sizing: border-box;
  }
  
  header, main, .content, aside, footer
  {
    padding: 10px;
  }
  
  header
  {
    background-color: #deffdd;
    height: 200px;
  }
  
  main
  {
    background-color: #ffffff;
    display: flex;
    position: relative;
    justify-content: space-between;
  }
  
  .content
  {
    background-color: #fffcd9;
    height: 2000px;
    width: 70%;
  }
  
  aside
  {
    position: sticky;
    background-color: #ffe1e1;
    height: 400px;
    top: 0;
    width: 28%;
  }
  
  footer
  {
    background-color: #deffdd;
    height: 200px;
  }