
#####wpcomment_nojpdeny#####
SetEnvIf Request_URI ".*" WpCommentDeny
#####end:wpcomment_nojpdeny#####

ErrorDocument 400 /lec/error/400.shtml
ErrorDocument 401 /lec/error/401.shtml
ErrorDocument 403 /lec/error/403.shtml
ErrorDocument 404 /lec/error/404.shtml
ErrorDocument 408 /lec/error/408.shtml
ErrorDocument 500 /lec/error/500.shtml
ErrorDocument 501 /lec/error/501.shtml
ErrorDocument 502 /lec/error/502.shtml
ErrorDocument 503 /lec/error/503.shtml
ErrorDocument 504 /lec/error/504.shtml
ErrorDocument 505 /lec/error/505.shtml

<IfModule mime_module>
AddType application/wasm wasm
</IfModule>

RewriteBase /

RewriteEngine on
RewriteCond %{THE_REQUEST} ^.*/index.shtml
RewriteRule ^(.*)index.shtml$ http://lec.starfree.jp/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\index.shtml -f
RewriteRule ^(.*)$ $1/index.shtml [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [L]
 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.shtml -f
RewriteRule ^(.*)$ $1.shtml [L]

RewriteCond %{THE_REQUEST} \.(shtml|html)\ HTTP
RewriteRule ^(.*)\.(shtml|html)$ /$1 [R=301,L]

<Files ~ "¥.(css|htaccess)$">
Header add Pragma "no-cache"
Header set Cache-Control no-cache
</Files>
