@charset "UTF-8";

/* # # フォント # # */
html{font-family: Meiryo, sans-serif, monospace, 'IBM Plex Sans';}

/*未使用*/
body{background-color: #ffffff;}

/* # # ヘッダー・フッター・追従メニュー設定 # # */
*   {box-sizing: border-box;}

    header, main, .content , aside, footer{padding: 10px;}


    main
    {
        display: flex;
        position: relative;
        justify-content: space-between;
    }

    .content{width: 84%;}

    aside
    {
        position: sticky;
        height: 200px;
        top: 20px;
        width: 16%;
        font-size: 1.0rem;
    }

    @media screen and (max-width:1080px)
    {
        .content{width: 70%;}
        aside{width: 30%;}
    }

    footer{background-color: whitesmoke;}

/* # # 文字表記に関して # # */

h2
{
    color:black;
    -webkit-box-shadow: 5px 5px 0 white;
    box-shadow: 5px 5px 0 white;
    font-size: 2.4rem;
}

h3
{
    color:black;
    font-size: 1.8rem;
}

p
{
    color:black;
    font-size: 1.4rem;
}

a{color:green;}

@media screen and (max-width:1080px)
{
    h1{font-size: 5.2rem;}
    h2{font-size: 3.6rem;}
    h3{font-size: 2.7rem;}
    p{font-size: 2.1rem;}
}
