@charset "UTF-8";

/* # # フォント # # */
html{
    font-family: "游ゴシック", "Meiryo", "Arial", sans-serif;
    font-weight: 500;
}

/* # ライトモード # */
@media (prefers-color-scheme: light){
    html{
      background-color: #fff;
      color: #2f2f2f;
    }
}
/* # ダークモード # */
@media (prefers-color-scheme: dark){
    html{
      background-color: #2f2f2f;
      color: #fff;
    }
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- */

/* # # ヘッダー・フッター・追従メニュー設定 # # */
*{box-sizing: border-box;}

header, main, .content, aside, footer{
    padding: 10px;
    width: 100%;
    height: 100%;
}

main{
    display: flex;
    position: relative;
    justify-content: space-between;
}

.content{width: 84%;}

aside{
    position: sticky;
    height: 100%;
    top: 10px;
    width: 16%;
    font-size: 1.0rem;
}

aside p{
    padding: 0.8em 0;
}

/* # # 携帯(縦)でのアクセス用(追従メニューの割合) # # */
@media screen and (max-width:1080px){
    .content{width: 100%;}
    aside{width: 0%;}
    aside p{font-size: 0px;}
    main{padding: 15px;}
    .content, aside{padding: 0px;}
}

/* # ライトモード # */
@media (prefers-color-scheme: light){footer{background-color: whitesmoke;}}
/* # ダークモード # */
@media (prefers-color-scheme: dark){footer{background-color: rgba(255, 255, 255, .05);}}

/* # # フッター下固定 # # */
.conteiner{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer{margin-top: auto;}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- */

/* # # 文字表記に関して # # */
h2{
    -webkit-box-shadow: 5px 5px 0 #fff;
    box-shadow: 0px 5px 0 #fff;
}
/* # ライトモード # */
@media (prefers-color-scheme: light){a{color: green;}}
/* # ダークモード # */
@media (prefers-color-scheme: dark){a{color: #d0adf0;}}
/*マウスカーソルが乗っているときの色変更*/
/* # ライトモード # */
@media (prefers-color-scheme: light){a:hover, a:focus{color: #006300;}}
/* # ダークモード # */
@media (prefers-color-scheme: dark){a:hover, a:focus{color: #9e9eff;}}

/*左追従バーの動きについて*/
aside p a{
    /*下線無効化*/
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
aside p:hover, aside p:focus{
    transform: translate(0, -3px);
    box-shadow:0px 1px 8px 4px whitesmoke;
    opacity: 0.7;
}
/* # ダークモード # */
@media (prefers-color-scheme: dark){
    aside p{
        opacity: 0.8;
        color: black;
    }
    aside p:hover, aside p:focus{opacity: 1.0;}
    aside p a{opacity: 1.0;}
}

/* # ライトモード # */
@media (prefers-color-scheme: light){
    aside p a {color: #006300;}
    aside p a:hover, aside p a:focus{color: #003000;}
}
/* # ダークモード # */
@media (prefers-color-scheme: dark){
    aside p a {color: black;}
    aside p a:hover, aside p a:focus{color: black;}
}

/* # ダークモード # */
@media (prefers-color-scheme: dark){
    h1{
        padding: 1rem 2rem;
        background: unset;
        color:#fff;
    }

    h2{background: unset;}
}

/* # 携帯のタップした一瞬の時の色を透明に変更 # */
a:active{-webkit-tap-highlight-color: rgba(255, 255, 255, .15);}

/* # # 範囲選択の時の文字の色 # # */
/* # ライトモード # */
@media (prefers-color-scheme: light){
    ::selection{background: rgba(175, 238, 238/*paleturquoise*/, .45);}
    a::selection{background: rgba(152, 251, 152/*palegreen*/, .45);}
}
/* # ダークモード # */
@media (prefers-color-scheme: dark){::selection{background: rgba(255, 255, 255, .45);}}
