@charset "UTF-8";

/* # # 文字表記に関して # # */

/* # ライトモード # */
@media (prefers-color-scheme: light)
{
    h1
    {
        padding: 1rem 2rem;
        background: white;
        -webkit-box-shadow: 5px 5px 0 rgb(255, 255, 240);
        box-shadow: 5px 5px 0 rgb(255, 255, 240);

        color:white;
        font-weight: bold;
        display: inline-block;
        background: linear-gradient(45deg, #f4ff54, #92ff92 20%, #76eaff 90%);
        -webkit-background-clip: text;
                background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    h2{background: rgb(255, 255, 240);}
}
