@charset "UTF-8";

/* # # フォント # # */
html{font-family: Meiryo, sans-serif, monospace;}

/* # # 範囲選択の時の文字の色 # # */
h1::selection
{
    background: gainsboro;
    color: white;
}

a::selection
{
    background: lightsteelblue;
    color: white;
}

::selection
{
    background: gainsboro;
    color: white;
}
