@charset "UTF-8";

/* # # 背景 # # */
/* # ライトモード # */
@media (prefers-color-scheme: light){html{background-image: url(/lec/lf/logo/lf2301.png);}}
/* # ダークモード # */
@media (prefers-color-scheme: dark){html{background-image: url(/lec/lf/logo/lf2202.png);}}
/* # 共通 # */
html
{
    max-width: 100%;
    min-height: 100%;
    /*background-color: rgb(5, 2, 22);*/
    background-attachment: fixed;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/*背景ぼかし*/
html::before
{
    background: inherit;
    content: '';
    filter: blur(6px);
    position: absolute;
    top: -5px;
    right: 0;
    bottom: 0px;
    left: -5px;
}

a{color: unset;}
a{text-decoration: none;}
a:hover, a:focus{color: rgb(15, 15, 12)}
main, .content, aside{padding: 0;}

/* # # サイドバー設定 # # */
/* # ライトモード # */
@media (prefers-color-scheme: light){aside{background-color: rgba(10, 10, 10, .45);}}
/* # ダークモード # */
@media (prefers-color-scheme: dark){aside{background-color: rgba(10, 10, 10, .60);}}
/* # 共通 # */
aside
{
    width: 30%;
    height: 100vh;
}
aside h3
{
    color: white;
    width: 80%;
}
aside p
{
    font-size: 1.0rem;
    color: white;
    width: 70%;
}
/*サイドバーh3を光らせる*/
aside h3:hover, aside h3:focus{box-shadow:0px 1px 8px 4px whitesmoke;}
/*サイドバーPを動かさない*/
aside p:hover, aside p:focus{transform: unset;}
aside p:hover, aside p:focus, aside h3 a:hover, aside h3 a:focus
{
    color: white;
    opacity: 1.0;
}

/* # # メイン部分 # # */
/* # ライトモード # */
@media (prefers-color-scheme: light){.content{background-color: rgba(255, 255, 255, 0.6);}}
/* # ダークモード # */
@media (prefers-color-scheme: dark){.content{background-color: rgba(220, 220, 220, 0.9);}}
/* # 共通 # */
.content
{
    width: 70%;
    min-height: 100vh;
    color: rgb(49, 47, 41);
}
table{width: 80%;}
.conteiner
{
    min-height: 100vh;
}

/* # 選択時の色を白に変更 # */
::selection{background: rgba(255, 255, 255, .70);}
a::selection{background: rgba(255, 255, 255, .70);}

/* # # 携帯版の動作(サイドバーを上に移動する) # # */
@media screen and (max-width:1080px)
{
    main
    {
        display: block;
        margin: 0;
        padding: 0;
        max-width: 100%;
        min-width: initial;
    }
    aside
    {
        width: 100%;
        height: auto;
        position: unset;
    }
    .content
    {
        width: 100%;
        margin: 0;
    }
    /* # 携帯版の時はLECの説明文を削除(非表示) # */
    aside p{font-size: 0;}
    /* # 携帯版の時は背景の画像を中央に表示 # */
    html{background-position: center center;}
}
