/* ## IMPORT FONTS ## */

/* IBM Plex Sans (Static 400, 500 / Italic 400, 500) */
/* https://fonts.google.com/specimen/IBM+Plex+Sans */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;1,400;1,500&display=swap');

/* IBM Plex Sans JP (Static 400, 500) */
/* https://fonts.google.com/specimen/IBM+Plex+Sans+JP */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@400;500&display=swap');

/* Kaisei Opti (Static 400) */
/* https://fonts.google.com/specimen/Kaisei+Opti */
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti&display=swap');

/* Sevillana (Static 400) */
/* https://fonts.google.com/specimen/Sevillana */
@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');

/* Playpen Sans (Variable) */
/* https://fonts.google.com/specimen/Playpen+Sans */
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');

/* ## IMPORT FONTS (END) ## */


/* ## THEME COLORS ## */
:root {
  @media (prefers-color-scheme: light) {
    --fonts-color: #2f2f2f;
    --background-color: #ffffff;
    --links-color: darkslateblue;
    --selection-color: rgba(0, 0, 0, .2);

    --info-card-color: transparent;
    --info-card-border: var(--fonts-color);
  }
  @media (prefers-color-scheme: dark) {
    --fonts-color: #ffffff;
    --background-color: #2f2f2f;
    --links-color: aquamarine;
    --selection-color: rgba(255, 255, 255, .2);
    --info-card-color: #ffffff20;
    --info-card-border: transparent;
  }
}

/* ## THEME COLORS (END) ## */

:root {
  --default-fonts: "IBM Plex Sans JP", "IBM Plex Sans",
                   "Noto Serif Japanese", "Noto Sans",
                   "Roboto", sans-serif;
  font-family: var(--default-fonts);
  margin: 0 5%;
}

body {
  background-color: var(--background-color);

  color: var(--fonts-color);
  /* font-family: sans-serif; */
  line-height: 1.5;
  margin: 0 auto;
  max-width: 768px;
}

header {
  border-bottom: 1px solid var(--fonts-color);
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid var(--fonts-color);
  margin-top: 1rem;
}

a {
  color: var(--links-color);
  text-decoration: none;
}

/* color when we touch URL in smartphone */
a:active {
  -webkit-tap-highlight-color: transparent;
}

img {
  max-width: 80%;
  padding: 0 10%;
}

::selection {
  background-color: var(--selection-color);
}

/* Header "Lemonium" */
h1 a {
  font-family: "Kaisei Opti", var(--default-fonts);
}

/* Footer copyright */
footer p {
  font-family: "Playpen Sans", var(--default-fonts);
}

/* Top Page */

.toppage-h {
  letter-spacing: 4px;
}

.info-card {
  font-family: "Kaisei Opti", var(--default-fonts);
  /* list-style: none; */

  a {
    color: var(--fonts-color);
    background-color: var(--info-card-color);
    border: 1px solid var(--info-card-border);

    padding: 2px 12px;
    margin: 8px 0;
    border-radius: 12px;

    display: block;

    transition: 
      opacity 0.3s ease-in-out,
      border-radius 0.5s ease-in-out;

    #info-date {
      font-family: "Playpen Sans", var(--default-fonts);
      opacity: .8;
      letter-spacing: 2px;
      font-size: small;
      margin-bottom: 0;
    }    
    #info-title {
      color: var(--links-color);
      font-size: large;
      margin: 2px 0;
    }
    #info-summary {
      margin-top: 4px;
    }
  }
  a:hover,
  a:focus {
    opacity: .8;
    border-radius: 16px;
  }
}

/* End: Top Page */
