{{ define "main" }}

<h2>Welcome to Lemonium!</h2>

<p>{{ i18n "index-description" }}</p>

<h2 class="toppage-h">Information</h2>
<!-- News and Information -->

<div class="info-card">
    <!-- タイトルが Posts になっているページを除外 -->
    {{ range ( first 3 ( where ( where .Site.Pages "Type" "posts" ) ".Title" "!=" "Posts" )) }}
        <a href="{{ .Permalink }}">
            <p id="info-date">{{ .Date.Format "2006.01.02" }}</p>
            <p id="info-title">{{ .Title }}</p>
            <p id="info-summary">{{ .Summary }}…</p>
        </a>
    {{ end }}
</div>

<!-- タグ指定 ("未定"タグ)
{{ range ( first 3 ( where .Site.RegularPages "Params.tags" "intersect" (slice "未定"))) }}
<li>
    <a href="{{ .Permalink }}">{{ .Title }}</a>
    <p>{{ .Summary }}</p>
</li>
{{ end }}
-->

<h2 class="toppage-h">About</h2>

<p>
    {{ i18n "index-about-1" }}<br />
    {{ i18n "index-about-2" }}
</p>

<hr />

<ul class="social-links">
    <li>
        <a href="https://www.youtube.com/@lemon73" target="_blank" id="link-youtube">
            <img src="/images/social-media/youtube.svg" alt="youtube">
            Official YouTube
        </a>
    </li>
    <li>
        <a href="https://misskey.io/@lemon73" target="_blank" id="link-misskey">
            <img src="/images/social-media/misskey.svg" alt="youtube">
            Official Misskey.io
        </a>
    </li>
    <li>
        <a href="https://github.com/Lemon73-Computing" target="_blank" id="link-github">
            <img src="/images/social-media/github.svg" alt="youtube">
            Official GitHub
        </a>
    </li>
    <li>
        <a href="" target="_blank" id="link-contact">
            Contact Form ({{ i18n "wip" }})
        </a>
    </li>
</ul>

{{ end }}
